body {
    font-family: Muli,sans-serif;
}
.mainContainer {
    display: flex;
    flex-direction: row;
}
.leftContainer {
    display: flex;
    flex-direction: column;
    margin: 90px 90px 0 90px;
}
.box1 {
    width: 43vh;
    height: 10vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}
.box2 {
    width: 43vh;
    height: 20vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}
.box3 {
    width: 43vh;
    height: 35vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}
.box4 {
    width: 43vh;
    height: 45vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}
.box5 {
    width: 43vh;
    height: 20vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}
.box6 {
    width: 43vh;
    height: 34vh;
    border: 1.5px solid #1dbdc0;
    margin: 12px 0 12px 0;
    border-radius: 5px;
    background-color: #f3fbfc;
}
.rightContainer{
    display: flex;
    flex-direction: column;
}
.boxes1 {
    width: 43vh;
    height: 10vh;
    border: 1px solid #787878;
    margin: 12px 0 12px 0;
    border-radius: 5px;
}