.login__box{
    display: none;
    width: 700px;
    height: 450px;
    border: solid 1px black;   
    z-index: 1;
   
    position: fixed;
    left: 25%;
}

.login__box > div:nth-child(1){
    height: 100%;
    width: 60%;
}

.login__box > div:nth-child(2){
    height: 100%;
    width: 40%;
    background-color: #f5f7fa;
}

.login__box img{
    width: 100%;
    height: 100%;
}

.login__input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login__input__text{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.login__input__box {
    padding: 10px 5px;
    margin: 5px auto;
    border-bottom: 3px solid black;
    background-color: #ffffff;
}

.login__input__box input {
    border: none;
    outline: none;
}

.login__input > button {
    position: absolute;
    bottom: 10px;
    left: 5%;
    padding: 15px 35%;
    background-color: #DB3327 ;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #ffffff;

}

.login__input > button:hover{
    cursor: pointer;
}







